@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --ff: 'Ysabeau SC', sans-serif;
}
body {
    font-family: var(--ff);
}
.container {
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
}

.arrays{
    display: flex;
    flex-direction: column;
}
.array{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}